* {
    font-family: AurulentSansM Nerd Font, FontAwesome;
    font-size: 13px;
}

window#waybar {
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.750) 0%, rgba(0, 0, 0, 0.750)  50%,rgba(0, 0, 0, 0.750)   100%);
    color: #c0caf5;
    transition: background-color .5s;
    font-family:  Nerd Font, FontAwesome
}

.modules-left {
    padding-left: 15px;
}
.modules-right {
    padding-right: 15px;
}

#custom-power:hover{
    transition: 0.25s;
    color: rgba(116, 0, 0, 0.9);
}

#workspaces{
    margin-left: 15px;
}

#workspaces button {
transition: 0.25s
}

#workspaces button.active {
    background: radial-gradient(closest-side, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
    border-radius: 50px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  box-shadow: none;
}

#custom-arch {
    font-size: 20px;
}

menu {
	border-radius: 15px;
	background: #161320;
	color: #B5E8E0;
}